{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Index</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-lg custom-navbar " data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand ms-5" href="{% url 'index' %}">AskPupkin </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" role="search">
          <input class="form-control ms-5" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-custom ms-3" type="submit">Search</button>
        </form>
        <form class="d-flex p-2" action="{% url 'ask' %}">
          <button class="btn btn-custom ms-5">ASK!</button>
        </form>
      </div>
      <nav class="navbar bg-body-tertiary p-2">
        <div class="d-flex gap-3 align-items-center pe-4">
          {% if user.is_authenticated %}
          {% if user_profile.avatar %}
            <img src="{{ user_profile.avatar.url }}" alt="Avatar" class="img-fluid" width="80" height="80">
          {% else %}
            <img src="/media/profile.png" alt="Default Avatar" class="img-fluid" width="80" height="80">
          {% endif %}
          <div>
            <div>
              <h4>{{ user_profile.user.username }}</h4>
            </div>
            <a href="{% url 'settings' %}" class="text-primary ">Settings</a>
            <span class="sep"></span>
            <a href="{% url 'logout' %}" class="text-primary">Log out</a>
          </div>
          {% else %}
            <a href="{% url 'login' %}" class="text-primary">Log in</a>
            <span class="sep"></span>
            <a href="{% url 'signup' %}" class="text-primary">Sign up</a>
          {% endif %}
      </nav>
    </div>
  </nav>

  <main class="container mt-3">
    <div class="row">
      <div class="col-8">
        {% block content %}
        {% endblock %}
      </div>

      <div class="col">
        <section class="mb-3">
          <h2>Popular tags</h2>
          <a class="badge text-bg-primary m-2" href="{% url 'tag' 'Perl' %}">Perl</a>
          <a class="badge text-bg-warning m-2" href="{% url 'tag' 'Python' %}">Python</a>
          <a class="badge text-bg-success m-2" href="{% url 'tag' 'TechnoPark' %}">TechnoPark</a>
          <a class="badge text-bg-danger m-2" href="{% url 'tag' 'MySQL' %}">MySQL</a>
          <a class="badge text-bg-dark m-2" href="{% url 'tag' 'Django' %}">Django</a>
          <a class="badge text-bg-info m-2" href="{% url 'tag' 'Mail.ru' %}">Mail.ru</a>
          <a class="badge text-bg-dark m-2" href="{% url 'tag' 'Voloshin' %}">Voloshin</a>
          <a class="badge text-bg-warning m-2" href="{% url 'tag' 'Firefox' %}">Firefox</a>
        </section>
        <section class="p-3">
          <h2>Best members</h2>
          <ul class="list-group">
            <li class="list-group-item pb-1"><a href="#">Mr. House</a></li>
            <li class="list-group-item pb-1"><a href="#">General_Kenobi</a></li>
            <li class="list-group-item pb-1"><a href="#">Bold_one</a></li>
            <li class="list-group-item pb-1"><a href="#">Kostritskiy</a></li>
            <li class="list-group-item pb-1"><a href="#">Someone</a></li>
            <li class="list-group-item pb-1"><a href="#">That_one_guy</a></li>
          </ul>
        </section>
      </div>
    </div>
  </main>

  <footer class="bg-body-tertiary text-center text-lg-start">
    <div class=" custom-navbartext-center p-3 ">
      © 2024 Copyright:
      <a class="text-body" href="https://github.com/Neratus/">Neratus</a>
    </div>
  </footer>

  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>