{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="d-flex gap-3 align-items-center">
  <h1>Hot Questions</h1>
  <a href="{% url 'index' %}">New Questions</a>
</div>

<div class="d-flex flex-column gap-3">
  {% for question in questions %}
    {% include 'layouts/question.html' %}
  {% endfor %}
  {% include 'layouts/pagination.html' %}
</div>

<script>
  window.LIKE_OR_DISLIKE_URL = "{% url 'like_or_dislike' %}";
  window.CSRF_TOKEN = "{{ csrf_token }}";
  window.UPVOTE_IMG_SRC = '{% static "images/upvote_active.png" %}';
  window.DOWNVOTE_IMG_SRC = '{% static "images/downvote_active.png" %}';
  window.UPVOTE_IN_IMG_SRC = '{% static "images/upvote.png" %}';
  window.DOWNVOTE_IN_IMG_SRC = '{% static "images/downvote.png" %}';
</script>

<script src="{% static 'js/questions.js' %}"></script>

{% endblock %}